<div class="container">

<form action="/login" method="POST">
	<input type="text" name="user[name]" value="Matthew" placeholder="Username">
	<input type="password" name="user[password]" value = "123" placeholder="Password">
	<input type="submit" value="Login">
</form>
</div>
