html {
  background-color: #F2F1F8;
}

#login_register {
  text-align: left;
}

#logo {
  color: #0B4B46;
  font-size: 35px;
  text-decoration: underline;
  text-align: center;
}

#deck {
  background-color: #FADCA2;
  border: 3px solid #D2AE67;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  width: 130px;
  font-size: 20px;
}

#description {
  font-size: 16px;
  width: 130px;
  padding-left: 20px;
}

.container {
  background-color: #95BEBC;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #0B4B46;
  margin: 30px auto;
  width: 600px;
  padding: 10px 20px 10px 20px;
  border: 4px solid #1F6461;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #888888;
  text-align: center;
}

a:link {
  color: #0B4B46;
  text-decoration: none;
}

a:hover {
  font-style: oblique; 
  text-decoration: none;
}

a:visited {
  color: #0B4B46;
  text-decoration: none;
}

#create {
  font-size: 25px;
}
