html{
  background-color: black;
}
.container {
  background-color: white;
  margin: 20px auto;
  width: 600px;
  padding: 10px 20px 20px 20px;
  border: 30px dotted orange;
}
th {
  text-align: left;
}
a {
  color:blue;
}
