<div class="container">
    <br>
  <h1><%= @card.content %></h1>
    <br>
    <br>
  <input id="Answer" type="text" name="answer" placeholder="Your Answer Here.">
  <input type="submit" value="Submit!" />
</div>

<!--This page should take in the current Card object, randomly chosen from the Deck, in the form of @card.-->
<!--Params should be answer-->
