<div class="container">
  <br>
  <h1><%= @deck.deck_name %></h1><br>
  <h3><%= @deck.description%></h3>

  <br>
</div>

<!--This should take in @deck which should be a Deck object from the database-->
<!--It returns nothing, it is just a show page-->
