<div class="container">
  <div id="login_register">

  </div>
  <div id="logo">
    <p>Flashcards The Musical 2: The SQL - Electric Bugaloo</p>
  </div>
  <br>
  <!--Here we will have all of the deck links displayed-->
  <% @decks.each do |deck| %>
    <a href="/decks/<%= deck.id %>/cards/1"><%= deck.deck_name %></a>
    <p><%= deck.description %></p>
    <br>
  <% end %>
</div>


<!--Variables we will need: @decks which is a list of all the Deck objects-->
