<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>⚡️CARDS the SQL</title>
</head>
<body>

  <div id="logo" class="animated rubberBand">
  <i class="fa fa-bolt fa-5x animated flash"></i>
  </div>

  <div class="container">


    <% if current_user %>
      <a href="/logout">Log Out</a>
    <% else %>
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
    <% end  %>
  </div>

  <%= yield %>
</body>
</html>
